.default-mode {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    color: #252526;
}

.card {
    border: none;
}

.area-botao {
    height: 180px;
}

.area-botao {
    margin: 0;
    position: absolute;
}

.dark-mode {
    background: #252526 !important;
    color: white !important;
}

h1 {
    margin-bottom: 20px;
    padding-top: 10px;
}

.tabuleiro {
    display: flex;
    justify-content: center;
}

.quadrado {
    margin: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    padding-top: 30px;
    color: white;
    font-size: 60px;
}

#q1 {
    border-right: 5px solid #252526;
    border-bottom: 5px solid #252526;
}

#q2 {
    border-right: 5px solid #252526;
    border-bottom: 5px solid #252526;
    border-left: 5px solid #252526;
}

#q3 {
    border-bottom: 5px solid #252526;
    border-left: 5px solid #252526;
}

#q4 {
    border-top: 5px solid #252526;
    border-right: 5px solid #252526;
    border-bottom: 5px solid #252526;
}

#q5 {
    border-top: 5px solid #252526;
    border-right: 5px solid #252526;
    border-bottom: 5px solid #252526;
    border-left: 5px solid #252526;
}

#q6 {
    border-top: 5px solid #252526;
    border-bottom: 5px solid #252526;
    border-left: 5px solid #252526;
}

#q7 {
    border-top: 5px solid #252526;
    border-right: 5px solid #252526;
}

#q8 {
    border-top: 5px solid #252526;
    border-right: 5px solid #252526;
    border-left: 5px solid #252526;
}

#q9 {
    border-top: 5px solid #252526;
    border-left: 5px solid #252526;
}


/* # dark */

.q1-dark {
    border-right: 5px solid white !important;
    border-bottom: 5px solid white !important;
}

.q2-dark {
    border-right: 5px solid white !important;
    border-bottom: 5px solid white !important;
    border-left: 5px solid white !important;
}

.q3-dark {
    border-bottom: 5px solid white !important;
    border-left: 5px solid white !important;
}

.q4-dark {
    border-top: 5px solid white !important;
    border-right: 5px solid white !important;
    border-bottom: 5px solid white !important;
}

.q5-dark {
    border-top: 5px solid white !important;
    border-right: 5px solid white !important;
    border-bottom: 5px solid white !important;
    border-left: 5px solid white !important;
}

.q6-dark {
    border-top: 5px solid white !important;
    border-bottom: 5px solid white !important;
    border-left: 5px solid white !important;
}

.q7-dark {
    border-top: 5px solid white !important;
    border-right: 5px solid white !important;
}

.q8-dark {
    border-top: 5px solid white !important;
    border-right: 5px solid white !important;
    border-left: 5px solid white !important;
}

.q9-dark {
    border-top: 5px solid white !important;
    border-left: 5px solid white !important;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(106, 106, 106);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sml-screen {
    margin-top: 10px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .sml-screen {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .quadrado {
        margin: 0;
        width: 100px;
        height: 100px;
        cursor: pointer;
        padding-top: 30px;
        color: white;
        font-size: 40px;
    }
}